AETHERIS_NODE_ID={{NODE_ID}}
AETHERIS_NODE_ROLE={{NODE_ROLE}}
AETHERIS_NODE_CLASS={{NODE_CLASS}}
AETHERIS_PLATFORM={{PLATFORM}}
AETHERIS_HOSTNAME={{HOSTNAME}}
AETHERIS_MACHINE_ID={{MACHINE_ID}}
AETHERIS_ARCH={{ARCH}}
AETHERIS_KERNEL={{KERNEL}}
AETHERIS_OS={{OS}}
AETHERIS_L4T_RELEASE={{L4T_RELEASE}}
AETHERIS_JETPACK_RELEASE={{JETPACK_RELEASE}}
AETHERIS_POWER_PROFILE={{POWER_PROFILE}}
AETHERIS_BOOT_PROFILE={{BOOT_PROFILE}}
